* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Usual;
  src: url(./fonts/SourceSans3-Regular.ttf);
}

.header {
  height: 209px;
  background-color: #f8f8f8;
  font-family: Usual;
}

.header-info {
  display: flex;
  justify-content: space-between;
  font-family: Usual;
}

.header-info__more {
  display: flex;
  gap: 100px;
  padding: 24px 0px 0px 140px;
  font-family: Usual;
}

.header-info__more__cities {
  display: flex;
  gap: 13.23px;
  font-family: Usual;
}

.header-info__more__shops {
  display: flex;
  gap: 13.23px;
  font-family: Usual;
}

.header-info__more__cities__text,
.header-info__more__shops__text {
  font-family: Usual;
  font-size: 16px;
}

.header-info__feedback {
  display: flex;
  padding: 24px 0px 0px 0px;
  gap: 19px;
  margin-left: 300px;
}

.header-info__lang {
  display: flex;
  padding: 24px 140px 0px 0px;
  align-items: center;
  justify-content: center;
}

.header-main__logo {
  padding: 21px 0px 0px 140px;
  display: flex;
  gap: 18px;
}

.header-main {
  display: flex;
}

.header-main__logo__aroma {
  margin-top: 45px;
}

.header-main__catalog {
  min-width: 160px;
  width: 256px;
  height: 64px;
  background-color: #e3b063;
  border-radius: 9px;
  margin: 45px 0px 0px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: Usual;
}

.header-main__catalog__text {
  font-family: Usual;
  font-size: 25px;
}

.header-main__input {
  font-family: Usual;
  margin-left: 21px;
  display: flex;
  min-width: 100px;
}

.header-main__input__main {
  font-family: Usual;
  margin: 45px 0px 0px 0px;
  border-radius: 30px;
  width: 671px;
  height: 64px;
  background: url(./img/Vector.svg) no-repeat 14px center;
  border-color: #d5d5d5;
  display: flex;
  min-width: 200px;
}

.header-main__input__main::placeholder {
  padding-left: 50px;
  color: #d5d5d5;
  font-size: 20px;
}

input {
  font-size: 20px;
  margin-left: 20px;
}

.header-main__icons {
  display: flex;
  gap: 30px;
  margin: 45px 30px 0px 200px;
}

.header-main__icons__profile,
.header-main__icons__likes,
.header-main__icons__backet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper {
  height: auto;
}

.swiper-slide__img {
  background-size: contain;
}

.swiper-pagination-bullet {
  background: #6f6f6f;
  width: 16px;
  height: 16px;
  gap: 18px;
}

.swiper-pagination-bullet-active {
  background: #fff;
  height: 21px;
  width: 21px;
  gap: 18px;
}

.swiper-button-prev,
.swiper-button-next {
  font-family: Usual;
  color: #fff;
}

input[type="checkbox"] {
  display: none;
}
label {
  font-family: Usual;
  cursor: pointer;
  font-size: 40px;
  display: block;
  margin-bottom: 5px;
}
input[type="checkbox"]:checked + label {
  font-family: Usual;
  font-size: 71px;
}
.info {
  display: none;
}
input[type="checkbox"]:checked + label + .info {
  display: block;
}

.main-new__line1,
.main-new__line2 {
  width: 533px;
  height: 7px;
  background-color: #a9a9a9;
}

.main-new__text {
  font-family: Usual;
  font-size: 50px;
}

.main-new {
  display: flex;
  align-items: center;
  margin: 40px 140px 0px 140px;
  justify-content: space-between;
}

.container {
  margin: 60px 140px 0px 140px;
  display: grid;
  grid-template-columns: 533px 533px;
  grid-template-rows: 319px 319px;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "picture-first picture-second picture-four"
    "picture-first picture-third picture-five"
    ". . .";
  justify-content: center;
}

.picture-first {
  grid-area: picture-first;
}

.picture-second {
  grid-area: picture-second;
}

.picture-third {
  grid-area: picture-third;
}

.picture-four {
  grid-area: picture-four;
}

.picture-five {
  grid-area: picture-five;
}

.main-info {
  margin-left: 140px;
}

.swiper-second {
  font-family: Usual;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  height: 537px;
  margin: 40px 140px 0px 140px;
  background-color: #f8f8ff;
  overflow: auto;
  align-items: center;
  gap: 127px;
}

.rect {
  width: 257px;
  height: 396px;
  margin-left: 40px;
}

.rect-information {
  display: flex;
}

.rect-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rect-text__name,
.rect-text__dist {
  font-family: Usual;
  font-size: 24px;
}

.rect-text__dist {
  color: #e3b063;
}

.main-rew h5 {
  font-family: Usual;
  font-size: 62px;
  margin: 40px 0px 0px 140px;
}

.main-feed {
  height: 538px;
  background-color: #e3b063;
}

.main-feed__maintext {
  font-family: Usual;
  color: #fff;
  font-size: 30px;
  padding: 30px 0px 0px 140px;
}

.main-feed__line {
  margin: 22px 140px 0px 140px;
  height: 3px;
  background-color: #fff;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  font-family: Usual;
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 40px;
}

.tab.active {
  font-family: Usual;
  background-color: #ffffff;
  transform: scale(1.05);
  font-size: 71px;
}

.tab-content {
  font-family: Usual;
  display: none;
  padding: 20px;
  background-color: #ffffff;
}

.tab-content.active {
  display: block;
}

.tab-contant__info-one,
.tab-contant__info-two,
.tab-contant__info-three {
  display: flex;
  justify-content: space-evenly;
}

.main-feed__moreinfo {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 0px 0px;
}

.main-feed__moreinfo-write,
.main-feed__moreinfo-email {
  font-family: Usual;
  margin: 5px 0px 0px 140px;
  color: #fff;
  font-size: 40px;
}

.main-feed__moreinfo-email {
  font-family: Usual;
  text-decoration: underline;
}

.main-feed__moreinfo-feedback {
  margin: 46px 0px 0px 140px;
}

.btn {
  font-family: Usual;
  width: 372px;
  height: 75px;
  border-radius: 52px;
  background-color: #e3b063;
  border-color: #fff;
  font-size: 30px;
  color: #fff;
}

.main-feed__moreinfo-phone {
  margin: 0px 300px 0px 0px;
}

.main-feed__moreinfo-phone-text,
.main-feed__moreinfo-phone-phone {
  font-family: Usual;
  color: #fff;
  font-size: 40px;
  margin-top: 5px;
}

.main-feed__moreinfo-phone-img img {
  margin: 20px 10px 0px 0px;
  gap: 19px;
}

.footer-main {
  height: 128px;
  background-color: #404040;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-main__text {
  font-family: Usual;
  width: 256px;
  color: #fff;
  font-size: 25px;
}

.footer-dop {
  display: flex;
  align-items: center;
  height: 497px;
  background-color: #2a2a2a;
}

.footer-dop__logo {
  margin: -91px 0px 0px 0px;
}

.footer-dop__logo-info {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 140px;
}

.footer-dop__logo-info-text {
  padding: 30px 0px 0px 26px;
}

.footer-dop__text {
  font-family: Usual;
  color: #fff;
  font-size: 25px;
  margin: 59px 0px 0px 140px;
  width: 505px;
}

.footer-dop__info {
  margin-left: 49px;
  margin-top: -91px;
  display: flex;
  gap: 141px;
}

.footer-dop__info-head-one,
.footer-dop__info-head-two,
.footer-dop__info-head-three {
  font-family: Usual;
  margin-top: 140px;
  font-size: 25px;
  color: #fff;
}
@font-face {
  font-family: SansLight;
  src: url(./fonts/SourceSans3-Light.ttf);
}

.footer-dop__info-head-one-more,
.footer-dop__info-head-two-more,
.footer-dop__info-head-three-more {
  margin-top: 20px;
  font-family: SansLight;
}

.footer-near {
  display: flex;
  align-items: center;
  font-family: Usual;
  height: 53px;
  background-color: #404040;
  font-size: 20px;
  color: #949494;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .main-info {
    display: none;
  }

  .swiper {
    height: 500px;
  }

  .swiper-slide img {
    height: 255px;
  }
  .container {
    display: none;
  }

  .swiper {
    height: 258px;
  }

  .header-main__icons {
    display: none;
  }

  .header-info__feedback {
    display: none;
  }

  .header-main__input__main {
    width: 314px;
    height: 41px;
    background: url(./img/Vector.svg) no-repeat 11px center;
    margin: 60px 0px 0px 0px;
  }

  .header-info {
    display: none;
  }

  .header {
    height: 155px;
  }

  .header-main__catalog {
    display: none;
  }

  .header-main__logo {
    padding: 21px 0px 0px 60px;
  }

  .burger {
    margin-left: 690px;
    position: absolute;
    margin-top: 65px;
  }

  .main-new {
    display: flex;
    align-items: center;
    margin: 40px 60px 0px 60px;
    justify-content: space-between;
  }

  .main-new {
    display: none;
  }

  .swiper-second {
    height: 277px;
    margin: 40px 60px 0px 60px;
  }

  .rect {
    width: 203px;
    height: 275px;
  }

  .rect-information {
    width: 203px;
    height: 201px;
  }

  .rect-text__name,
  .rect-text__dist {
    font-size: 20px;
  }

  .main-rew h5 {
    font-family: Usual;
    font-size: 22px;
    margin: 40px 0px 0px 60px;
  }

  .main-feed__moreinfo {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px 0px 0px;
  }

  .main-feed__maintext {
    padding: 30px 0px 0px 60px;
    font-size: 12px;
  }

  .main-feed__line {
    margin: 5px 60px 0px 60px;
    height: 3px;
    background-color: #fff;
  }

  .main-feed__moreinfo-write,
  .main-feed__moreinfo-email {
    font-family: Usual;
    margin: 5px 0px 0px 60px;
    color: #fff;
    font-size: 10px;
  }

  .main-feed__moreinfo-feedback {
    margin: 46px 0px 0px 60px;
  }

  .btn {
    font-family: Usual;
    width: 147px;
    height: 29px;
    border-radius: 52px;
    background-color: #e3b063;
    border-color: #fff;
    font-size: 10px;
    color: #fff;
  }

  .main-feed__moreinfo-phone-text,
  .main-feed__moreinfo-phone-phone {
    font-family: Usual;
    color: #fff;
    font-size: 10px;
    margin-top: 5px;
  }

  .main-feed__moreinfo-phone-img img {
    width: 20px;
  }

  .main-feed {
    height: 216px;
  }

  .footer-main__text {
    font-size: 10px;
    width: 129px;
  }

  .footer-main {
    height: 57px;
  }

  .footer-dop__logo-info {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 60px;
  }

  .footer-dop__logo-info-img img {
    width: 50px;
  }

  .footer-dop__logo-info-text img {
    width: 155px;
  }

  .footer-dop__text {
    font-family: Usual;
    color: #fff;
    font-size: 11px;
    margin: 59px 0px 0px 60px;
    width: 171px;
  }

  .footer-dop__info-head-one,
  .footer-dop__info-head-two,
  .footer-dop__info-head-three {
    font-family: Usual;
    margin-top: 140px;
    font-size: 11px;
    color: #fff;
  }

  .footer-dop__info {
    margin-left: 49px;
    display: flex;
    gap: 60px;
    margin-top: -185px;
  }

  .footer-dop__logo {
    margin-top: -10px;
  }

  .footer-dop {
    height: 223px;
  }

  .footer-near {
    font-size: 11px;
    height: 25px;
  }

  .sort-text {
    margin: 20px 0px 0px 60px;
    font-size: 22px;
  }

  .sort-container__card {
    height: 339px;
    width: 314px;
    background-image: url(./img/hugo.svg);
    margin: 0px 0px 0px 40px;
  }

  .sort-container__card-info {
    height: 137px;
    background-color: #f9f9f9;
    transform: translate(0px, 201px);
  }
  .sort-container__card-info-text {
    font-size: 16px;
    padding: 12px 0px 0px 21px;
    width: 170px;
  }

  .sort-container__card-info-img {
    padding: 0px 0px 0px 220px;
  }

  .line {
    margin: 0px 22px 0px 22px;
    height: 1px;
    background-color: #dfdfdf;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 0px 0px 0px;
  }

  .buy {
    width: 111px;
    height: 33px;
    background-color: #e3b063;
    border-radius: 41px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 2px;
  }

  .buy-basket {
    width: 29px;
    height: 29px;
    background-color: #f8f8f8;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buy-text {
    margin-left: 15px;
  }

  .buy-basket img {
    height: 19px;
  }

  .container-sort {
    display: flex;
  }

  .show-more {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 0px 40px;
    align-items: center;
  }

  .show-more__line {
    height: 3px;
    width: 205px;
    background-color: #a9a9a9;
  }
  .btn-more {
    width: 168px;
    height: 48px;
    background-color: #fff;
    border-radius: 4px;
    border-color: #fff;
  }
}
@media (min-width: 768px) {
  .search {
    display: none;
  }
}

@media (min-width: 769px) {
  .container-sort {
    display: none;
  }

  .show-more {
    display: none;
  }

  .sort-text {
    display: none;
  }

  .header-info__burger {
    display: none;
  }

  .header-info__burger {
    display: none;
  }
}

.swiper-second::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 767px) {
  .nearly-buys {
    display: none;
  }
}

@media (min-width: 321px) {
  .sort-container1 {
    display: none;
  }

  .search-input {
    display: none;
  }

  .footer-main__text2 {
    display: none;
  }
}

@media (max-width: 320px) {
  .sort-container {
    display: none;
  }

  .header-main__input {
    display: none;
  }

  .burger {
    margin-left: 255px;
    margin-top: 25px;
  }

  .search {
    position: absolute;
    margin-left: 200px;
    margin-top: 25px;
  }

  .header-main__logo__aroma {
    margin-top: 0px;
  }

  .header-main__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0px 0px 30px;
  }

  .header-main__logo__logo img {
    width: 26px;
  }

  .header-main__logo__aroma {
    margin-top: -20px;
  }
  .header-main__logo__aroma img {
    width: 46px;
  }

  .header {
    height: 75px;
  }

  .sort-container__card {
    margin: 0;
  }

  .show-more__line {
    display: none;
  }

  .show-more {
    display: flex;
    justify-content: center;
    margin: 30px 40px 0px 40px;
    align-items: center;
  }

  .sort-text {
    font-size: 16px;
    margin: 20px 0px 0px 20px;
  }

  .rect {
    width: 103px;
    height: 138px;
    margin: 0;
  }

  .rect-information {
    width: 103px;
    height: 101px;
  }

  .rect-text__name,
  .rect-text__dist {
    font-size: 9px;
  }

  .swiper-second {
    height: 180px;
    gap: 30px;
  }

  .swiper-pagination-bullet {
    background: #6f6f6f;
    width: 5px;
    height: 5px;
    gap: 18px;
  }

  .swiper-pagination-bullet-active {
    background: #000000;
    height: 6px;
    width: 6px;
    gap: 18px;
  }

  .nearly-buys {
    margin: 31px 0px 0px 20px;
  }

  .search-info {
    background-color: #f3f3f3;
    width: 280px;
    height: 33px;
    font-size: 7px;
    border-radius: 73px;
    border: none;
  }
  .search-info::placeholder {
    padding: 0px 0px 0px 10px;
  }

  .search-input {
    margin: 20px 0px 0px 0px;
  }
  .swiper-slide img {
    height: 107px;
  }

  .swiper {
    height: 140px;
  }
  .main-rew h5 {
    font-size: 17px;
    margin: 0px 0px 0px 20px;
  }

  .main-feed__maintext {
    margin: 0px 0px 0px -40px;
  }

  .main-feed__line {
    margin: 5px 20px 0px 20px;
  }

  .main-feed__moreinfo-container {
    margin-top: -10px;
  }
  .main-feed__moreinfo-write,
  .main-feed__moreinfo-email {
    margin: 0px 0px 0px 20px;
    font-size: 8px;
  }

  .main-feed__moreinfo-feedback {
    margin: 10px 0px 0px 20px;
  }

  .btn {
    width: 68px;
    height: 13px;
    font-size: 5px;
  }

  .main-feed__moreinfo-phone {
    margin: -15px 40px 0px 0px;
  }

  .main-feed__moreinfo-phone-text,
  .main-feed__moreinfo-phone-phone {
    font-size: 8px;
  }

  .main-feed__moreinfo-phone-phone {
    margin-top: 0px;
  }

  .main-feed__moreinfo-phone-img img {
    width: 10px;
    margin: 0px;
  }

  .main-feed {
    height: 130px;
  }

  .footer-main__text {
    font-size: 6px;
    width: 77px;
  }

  .footer-main__text:nth-child(3n + 1) {
    display: none;
  }

  .footer-main {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-main__text2 {
    font-size: 6px;
    width: 77px;
  }

  .cont-info {
    display: flex;
    width: 167px;
    color: #fff;
    font-family: Usual;
    margin: 0px 0px 0px 10px;
  }

  .footer-dop__logo {
    margin-left: -40px;
    margin-top: -90px;
  }

  .footer-dop__logo-info-img img {
    width: 16px;
  }

  .footer-dop__logo-info-text {
    padding: 0px 0px 0px 5px;
  }

  .footer-dop__logo-info-text img {
    width: 40px;
  }

  .footer-dop__text {
    font-family: Usual;
    color: #fff;
    font-size: 5px;
    margin: 3px 0px 0px 60px;
    width: 103px;
  }

  .footer-dop__info-head-one,
  .footer-dop__info-head-two,
  .footer-dop__info-head-three {
    font-size: 10px;
  }

  .footer-dop__info-head-one-more,
  .footer-dop__info-head-two-more,
  .footer-dop__info-head-three-more {
    font-size: 7px;
  }

  .footer-dop__info {
    margin-left: 30px;
    display: flex;
    gap: 0px;
    margin-top: -300px;
    flex-wrap: wrap;
  }

  .footer-dop__info-head-three {
    font-family: Usual;
    margin-top: 120px;
    font-size: 11px;
    color: #fff;
  }

  .footer-dop__info-head-one,
  .footer-dop__info-head-two {
    margin-top: 300px;
  }
  .footer-dop__info-head-two {
    margin-left: 20px;
  }

  .footer-dop__info-head-three {
    font-family: Usual;
    margin-top: 10px;
    font-size: 11px;
    color: #fff;
  }

  .footer-dop__info-head-one-more,
  .footer-dop__info-head-two-more,
  .footer-dop__info-head-three-more {
    margin-top: 6px;
    font-family: SansLight;
  }

  .footer-dop {
    height: 160px;
  }

  .search-info {
    padding-left: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.header-main__input__main {
  padding-left: 60px;
}

.tab-contant__info-one img:nth-child(1) {
  width: 397px;
}
.tab-contant__info-one img:nth-child(3) {
  width: 400px;
}

.tab-contant__info-two img:nth-child(2) {
  width: 508px;
}

.tab-contant__info-two img:nth-child(3) {
  width: 465px;
}

.tab-contant__info-three img:nth-child(2) {
  width: 381px;
}

.tab-contant__info-three img:nth-child(3) {
  width: 400px;
}

.swiper-slide {
  height: 634px;
}
